.cart-add-to-cart-button-button{
	@extend .button-primary;
	@extend .button-large;
	width: 96.5%;
 	font-weight: $sc-font-weight-semibold;
 	margin-top: 15px;
     border-radius: 0px;
     margin-left: 15px;
}

.cart-add-to-cart-button {
	position: static;
}

.cart-add-to-cart-button-container {
/* 	@extend .col-sm-6; */
width: 100% !important;
}